$color-black: #2e3440;
$color-white: #fff;
$color-accent-1: #ebcb8b;

body {
  font-family: monospace;
  background-color: $color-black;
  color: $color-white;
}

a,
button {
  cursor: pointer;
  background: none;
  border: solid thin $color-accent-1;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: $color-accent-1;
  padding: 0.3rem;
  border-radius: 0.2rem;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;

  &:hover {
    background: $color-accent-1;
    color: $color-black;
  }
}

.avatar {
  width: 24px;
  height: 24px;
  background: $color-white;
  border-radius: 50%;
}

.merge-request-record {
  display: flex;
  flex-direction: column;

  .merge-request-record-title {
    font-weight: bold;
    font-size: 1.1em;
  }
  .merge-request-record-description {
    display: flex;
  }
}

.detail-item-container {
  display: flex;
  align-items: center;

  .detail-item {
    .detail-item-title {
      text-transform: uppercase;
      font-size: smaller;
    }

    .detail-item-description {
      display: flex;

      &.detail-item-description--column {
        flex-direction: column;
      }
    }
  }
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: solid thin #333;
}

.field {
  white-space: nowrap;
  display: block;
}
