$color-black: #2e3440;
$color-black-light: #3b4252;
$color-white: #e5e9f0;
$color-accent-yellow: #ebcb8b;
$color-accent-blue: #88c0d0;
$color-accent-green: #a3be8c;
$color-accent-red: #bf616a;

body {
  font-family: monospace;
  background-color: $color-black;
  color: $color-white;
}

a,
button {
  background: $color-black-light;
  border-radius: 0.2rem;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background: $color-accent-yellow;
    color: $color-black;
  }
}

details {
  display: block;
  width: 100%;
  margin: 1rem 0;

  summary {
    margin-bottom: 0.5rem;
  }
}

.avatar {
  width: 24px;
  height: 24px;
  background: $color-white;
  border-radius: 50%;
}

.merge-request-record {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: solid thin $color-black-light;
  margin-bottom: 1rem;

  .merge-request-record-title {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.3rem;

    a {
      background: none;
      padding: 0;

      &:hover {
        color: $color-accent-yellow;
      }
    }
  }
  .merge-request-record-description {
    display: flex;
  }
}

.detail-item-container {
  display: flex;
  align-items: flex-start;
  width: 100%;

  .detail-item--right {
    flex: 1;
    display: flex;
  }

  .detail-item--actions {
    text-align: right;

    .detail-item-title {
      margin-right: 0 !important;
    }
  }
  .detail-item {
    margin-right: 1rem;
    width: 6rem;

    &:last-child {
      margin-right: 0;
    }

    &.detail-item--wide {
      width: 13rem;
    }

    .detail-item-title {
      display: block;
      text-transform: uppercase;
      font-size: small;
      font-weight: bold;
      margin-right: 1rem;
      padding-bottom: 0.6rem;
    }

    .detail-item-description {
      display: flex;

      &.detail-item-description--column {
        flex-direction: column;
      }

      &.detail-item-description--with-mr-status {
        flex-wrap: wrap;

        .merge-request-status--status {
          color: $color-white;
        }
        .merge-request-status--has-conflicts {
          color: $color-accent-red;
        }
        .merge-request-status--is-draft {
          color: $color-accent-blue;
        }
        .merge-request-status--is-approved {
          color: $color-accent-green;
        }
        .merge-request-status--has-blocking-discussions {
          color: $color-accent-red;
        }
      }
    }
  }
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: solid thin #333;
}

.field {
  white-space: nowrap;
  display: block;
}

.has-revealing-content {
  position: relative;

  .revealing-content {
    z-index: 999;
    pointer-events: none;
    display: block;
    position: absolute;
    top: calc(100% + 1rem);
    background-color: $color-black-light;
    padding: 0.5rem;
    opacity: 0;
    transform: translateY(-1rem);
    transition: transform 0.1s, opacity 0.1s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1rem;
      height: 1rem;
      background-color: $color-black-light;
      transform: rotate(45deg) translateX(-50%);
    }

    &.detail-item {
      width: unset;
    }
  }

  &:hover {
    .revealing-content {
      transform: translateY(0rem);
      opacity: 1;
    }
  }
}

.merge-request-status {
  display: block;
  width: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bolder;
  font-size: normal;
  letter-spacing: 0.08rem;
}

.all-users-container {
  width: 100%;

  button {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
  }

  details {
    border-left: solid thin $color-black-light;
    padding-left: 1rem;
  }
}
